In [1]:
import os
from pathlib import Path
import numpy as np
import pandas as pd

import sys
from pathlib import Path
sys.path.insert(0,str(Path(os.path.abspath('.')).parent.parent))
import library.validation.accuracy.metric as metric

In [2]:
data_path = Path.home()/"OneDrive-3E/Research/Solar/tickets/2024/IN3043_accuracy_factors_analysis/IN3136_EURAC_shared_folder/data_sites"
results_path = Path.home()/"OneDrive-3E/Research/Solar/tickets/2024/IN3043_accuracy_factors_analysis/IN3136_EURAC_shared_folder/validation"

## read sites metadata

In [3]:
sites_metadata = pd.read_csv(os.path.join(data_path, "sites_metadata.csv"), index_col=0)
sites_metadata

                        country  latitude  longitude  altitude  provider
station_name
camborne         United Kingdom     50.22      -5.32      88.0      bsrn
carpentras               France     44.08       5.06     100.0      bsrn
budapest_lorinc         Hungary     47.43      19.18     139.0      bsrn
magurele_mars           Romania     44.34      26.01     110.0      bsrn
cabauw              Netherlands     51.97       4.93       0.0      bsrn
...                         ...       ...        ...       ...       ...
dublin_arpt             Ireland     53.43      -6.23      82.0      wrdc
grossenzersdorf         Austria     48.20      16.57     157.0      wrdc
gonzaga                   Italy     44.96      10.77      16.0  lombardy
landriano                 Italy     45.32       9.27      88.0  lombardy
cornale                   Italy     45.04       8.91      74.0  lombardy

[80 rows x 5 columns]

## based on daily data

### read data

In [4]:
reference_data_daily = pd.read_csv(os.path.join(data_path, "parsed", "parsed_reference_data_daily.csv"), index_col=0)
model_data_daily = pd.read_csv(os.path.join(data_path, "parsed", "parsed_model_data_daily.csv"), index_col=0)

In [5]:
# convert index in pd.DateTimeIndex
reference_data_daily.index = pd.DatetimeIndex(reference_data_daily.index)
model_data_daily.index = pd.DatetimeIndex(model_data_daily.index)

### parse

In [6]:
# convert to nan where the other dataset is nan
reference_data_daily = reference_data_daily.where(model_data_daily.notna())
model_data_daily = model_data_daily.where(reference_data_daily.notna())

In [7]:
# aggregate
reference_data_monthly = reference_data_daily.resample('MS').sum(min_count=1)
model_data_monthly = model_data_daily.resample('MS').sum(min_count=1)
reference_data_yearly = reference_data_daily.resample('AS').sum(min_count=1)
model_data_yearly = model_data_daily.resample('AS').sum(min_count=1)

### calculate sites validation metrics

In [8]:
valid_data_pairs_daily = reference_data_daily.count()

In [22]:
validation_metrics = 100 * pd.DataFrame({site: {
    "nmbe": metric.nmbe(model_data_daily[site], reference_data_daily[site]),
    "nrmse_yearly": metric.nrmse(model_data_yearly[site], reference_data_yearly[site]),
    "nrmse_monthly": metric.nrmse(model_data_monthly[site], reference_data_monthly[site]),
    "nrmse_daily": metric.nrmse(model_data_daily[site], reference_data_daily[site]),
} for site in reference_data_daily.columns}).T

## based on hourly data

### read data

In [12]:
reference_data_hourly = pd.read_csv(os.path.join(data_path, "parsed", "parsed_reference_data_hourly.csv"), index_col=0)
model_data_hourly = pd.read_csv(os.path.join(data_path, "parsed", "parsed_model_data_hourly.csv"), index_col=0)

In [13]:
# convert index in pd.DateTimeIndex
reference_data_hourly.index = pd.DatetimeIndex(reference_data_hourly.index)
model_data_hourly.index = pd.DatetimeIndex(model_data_hourly.index)

### parse

In [14]:
# convert to nan where the other dataset is nan
reference_data_hourly = reference_data_hourly.where(model_data_hourly.notna())
model_data_hourly = model_data_hourly.where(reference_data_hourly.notna())

In [20]:
reference_data_hourly

,camborne,carpentras,budapest_lorinc,magurele_mars,cabauw,cener,payerne,heino,lauwersoog,lelystad_locatie_23t,...,lautertal_oberlauter,leinefelde,bremen,stuttgart_schnarrenberg,nÃ¼rnberg,weihenstephan_dÃ¼rnast,saarbrÃ¼cken_ensheim,gonzaga,landriano,cornale
2014-12-31 23:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 02:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 03:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-31 19:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31 20:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31 21:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31 22:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31 23:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### calculate sites validation metrics

In [15]:
valid_data_pairs_hourly = reference_data_hourly.count()

In [19]:
validation_hourly = 100 * pd.DataFrame({site: {
    "nrmse_hourly": metric.nrmse(model_data_hourly[site], reference_data_hourly[site]),
} for site in reference_data_hourly.columns}).T

In [23]:
validation_metrics["nrmse_hourly"] = validation_hourly
validation_metrics["valid_data_pairs_daily"] = valid_data_pairs_daily
validation_metrics["valid_data_pairs_hourly"] = valid_data_pairs_hourly

In [24]:
validation_metrics

,nmbe,nrmse_yearly,nrmse_monthly,nrmse_daily,nrmse_hourly,valid_data_pairs_daily,valid_data_pairs_hourly
camborne,-1.713271,2.390578,2.960226,20.515307,19.891331,12474,11704.0
carpentras,-0.667623,0.908728,2.305455,11.637070,11.227009,19023,17686.0
budapest_lorinc,-0.438789,0.516789,2.504264,15.510051,15.026375,12229,11460.0
magurele_mars,-0.241528,0.241528,2.793683,13.151986,12.704396,3306,3081.0
cabauw,-0.199198,0.609549,2.155886,16.649853,16.077524,33360,31050.0
...,...,...,...,...,...,...,...
dublin_arpt,3.362028,3.494330,5.239870,9.972663,NaN,2187,NaN
grossenzersdorf,5.926388,6.072439,6.855718,9.840883,NaN,2192,NaN
gonzaga,-6.679113,6.724571,7.997686,38.823848,16.058042,33448,28018.0
landriano,-0.069454,1.363417,3.209997,38.937531,12.993406,33280,27945.0
cornale,11.104173,13.940949,16.348921,46.716771,30.732195,32736,29315.0

In [25]:
validation_metrics.to_csv(os.path.join(results_path, "validation_metrics.csv"))

## concat

In [18]:
validation_metrics = pd.concat([validation_metrics, validation_metrics_hourly], axis=0)

In [19]:
columns_round_2 = ["nmbe", "nrmse_yearly", "nrmse_monthly", "nrmse_daily", "nrmse_hourly"]

In [20]:
columns_int = ["valid_data_pairs_daily", "valid_data_pairs_hourly"]

In [21]:
for column in list(validation_metrics.columns):
    
    if column in columns_round_2:
        
        validation_metrics[column] = round(validation_metrics[column], 2)
    
    elif column in columns_int:
        
        validation_metrics[column] = validation_metrics[column].astype('Int64')

In [22]:
validation_metrics = validation_metrics[["nmbe", "nrmse_yearly", "nrmse_monthly", "nrmse_daily", "nrmse_hourly","valid_data_pairs_daily", "valid_data_pairs_hourly"]]

In [23]:
validation_metrics.to_csv(os.path.join(results_path, "validation_results_sites.csv"))

In [24]:
validation_metrics

,nmbe,nrmse_yearly,nrmse_monthly,nrmse_daily,nrmse_hourly,valid_data_pairs_daily,valid_data_pairs_hourly
aberporth,-5.52,5.53,6.57,11.95,NaN,720,<NA>
dunstaffnage,-4.73,4.77,5.99,16.45,NaN,646,<NA>
belfast_aldergrove_arpt,-1.47,1.57,2.94,8.37,NaN,721,<NA>
edinburgh,-1.43,1.54,2.91,9.98,NaN,647,<NA>
wattisham,-1.05,1.07,1.73,7.52,NaN,727,<NA>
...,...,...,...,...,...,...,...
weihenstephan_dÃ¼rnast,2.68,2.85,4.55,9.48,17.04,<NA>,29941
saarbrÃ¼cken_ensheim,0.79,1.28,2.54,7.94,15.87,<NA>,30742
gonzaga,-6.96,7.01,8.24,11.52,16.06,<NA>,28018
landriano,-0.32,1.42,3.18,7.71,12.99,<NA>,27945
cornale,11.29,14.12,16.57,18.79,30.73,<NA>,29315

## get summary values

In [25]:
validation_metrics_summary = get_summary_from_validation_metrics(validation_metrics)

In [26]:
validation_metrics_summary.to_csv(os.path.join(results_path, "validation_results_summary.csv"))

In [27]:
validation_metrics_summary

,nbr_of_sites,nbr_of_sites_hourly,nmbe_avg,nmbe_std,nrmse_yearly,nrmse_monthly,nrmse_daily,nrmse_hourly
summary,80,30,0.71,2.61,2.34,4.03,8.9,17.64