In [1]:
import os
import pandas as pd
from pathlib import Path
import rasterio

In [2]:
metadata_file = Path.home()/"OneDrive-3E/RD_ResourceData/Research/Solar/tickets/2024/IN3043_accuracy_factors_analysis/IN3136_EURAC_shared_folder/data_sites/sites_metadata.csv"

In [3]:
tif_file = Path.home()/"OneDrive-3E/RD_ResourceData/Research/Solar/tickets/2024/IN3043_accuracy_factors_analysis/terrain_complexity/amatulli_2018/tri_1KMmd_GMTEDmd.tif"

## read metadata

In [4]:
sites_metadata = pd.read_csv(metadata_file, index_col=0)
sites_metadata

                        country  latitude  longitude  altitude  provider
station_name
camborne         United Kingdom     50.22      -5.32      88.0      bsrn
carpentras               France     44.08       5.06     100.0      bsrn
budapest_lorinc         Hungary     47.43      19.18     139.0      bsrn
magurele_mars           Romania     44.34      26.01     110.0      bsrn
cabauw              Netherlands     51.97       4.93       0.0      bsrn
...                         ...       ...        ...       ...       ...
dublin_arpt             Ireland     53.43      -6.23      82.0      wrdc
grossenzersdorf         Austria     48.20      16.57     157.0      wrdc
gonzaga                   Italy     44.96      10.77      16.0  lombardy
landriano                 Italy     45.32       9.27      88.0  lombardy
cornale                   Italy     45.04       8.91      74.0  lombardy

[80 rows x 5 columns]

## read tif file

In [5]:
tri_1KMmd_GMTEDmd = rasterio.open(tif_file)

## extract tif values

In [6]:
sites_metadata["tri_1KMmd_GMTEDmd"] = None

In [7]:
for index, row in sites_metadata.iterrows():
    
    row_, col_ = tri_1KMmd_GMTEDmd.index(row["longitude"], row["latitude"])
    tri_1KMmd_GMTEDmd_value = tri_1KMmd_GMTEDmd.read(1)[row_, col_]

    sites_metadata.loc[index, "tri_1KMmd_GMTEDmd"] = tri_1KMmd_GMTEDmd_value

In [8]:
sites_metadata

,country,latitude,longitude,altitude,provider,tri_1KMmd_GMTEDmd
station_name,,,,,,
camborne,United Kingdom,50.22,-5.32,88.0,bsrn,4.25
carpentras,France,44.08,5.06,100.0,bsrn,3.0625
budapest_lorinc,Hungary,47.43,19.18,139.0,bsrn,3.8125
magurele_mars,Romania,44.34,26.01,110.0,bsrn,0.6875
cabauw,Netherlands,51.97,4.93,0.0,bsrn,0.0
...,...,...,...,...,...,...
dublin_arpt,Ireland,53.43,-6.23,82.0,wrdc,2.6875
grossenzersdorf,Austria,48.20,16.57,157.0,wrdc,0.8125
gonzaga,Italy,44.96,10.77,16.0,lombardy,0.9375
landriano,Italy,45.32,9.27,88.0,lombardy,0.6875
cornale,Italy,45.04,8.91,74.0,lombardy,1.75

In [9]:
metadata_TRI_file = Path.home()/"OneDrive-3E/RD_ResourceData/Research/Solar/tickets/2024/IN3043_accuracy_factors_analysis/IN3136_EURAC_shared_folder/data_sites/sites_metadata_TRI.csv"

In [10]:
sites_metadata.to_csv(metadata_TRI_file)