In [1]:
import pandas as pd
import os
import json

In [2]:
ticket_path_flu = "/home/lhn3e/OneDrive-3E/Research/Solar/tickets/2023/IN2818_FLUXNET_measurement_data"

In [3]:
df = pd.read_excel(os.path.join(ticket_path_flu,'metadata/data.xlsx'))

metadata = df[['station name', 'country', 'latitude', 'longitude']].copy()

metadata.columns = ['station_name', 'country', 'latitude', 'longitude']

In [4]:
metadata[['latitude', 'longitude']] = metadata[['latitude', 'longitude']].apply(pd.to_numeric)

In [5]:
metadata

                       station_name   country  latitude  longitude
0                          Neustift   Austria    47.117     11.318
1         Northern Pantanal Wetland    Brazil   -16.498    -56.412
2                              Guma  Botswana   -18.965     22.371
3                           Nxaraga  Botswana   -19.548     23.179
4                  Scotty Creek Bog    Canada    61.309   -121.298
..                              ...       ...       ...        ...
74       Twitchell East End Wetland       USA    38.103   -121.641
75                East Pond Wetland       USA    38.107   -121.643
76                 Twitchell Island       USA    38.109   -121.653
77  University of Alaska, Fairbanks       USA    64.866   -147.856
78         Winous Point North Marsh       USA    41.465    -82.996

[79 rows x 4 columns]

In [6]:
with open(os.path.join(ticket_path_flu, 'metadata/data.json'), 'w') as f:
  json.dump(metadata.to_json(orient='records'), f, ensure_ascii=False)

In [7]:
metadata.to_csv(os.path.join(ticket_path_flu, 'metadata/data.csv'), index=False)