In [1]:
from pathlib import Path
import pandas as pd
import os

from eee.resource.validation.database import ValidationDatabase

In [2]:
validation_database_path = Path.home()/"OneDrive-3E/Research/Solar/validation/validation_database"

In [3]:
## instantiate validation database
db = ValidationDatabase(validation_database_path)

In [4]:
sites_inv = db.get_sites()
sites_inv

SitesInventory(n=291)

In [5]:
sites_inv.df.name.unique()

array(['abashiri', 'alert', 'alice_springs', 'barrow', 'bermuda',
       'billings', 'bondville', 'boulder1', 'boulder', 'budapest_lorinc',
       'cabauw', 'camborne', 'carpentras', 'chesapeake_light',
       'concordia_station_dome_c', 'darwin', 'desert_rock', 'de_aar',
       'eastern_north_atlantic', 'fort_peck', 'fukuoka',
       'georg_von_neumayer', 'gobabeb', 'goodwin_creek', 'granite_island',
       'ishigakijima', 'izaña', 'kwajalein', 'lindenberg',
       'magurele_mars', 'minamitorishima', 'momote', 'nauru_island',
       'ny_ålesund', 'observatory_of_huancayo', 'paramaribo', 'payerne',
       'rock_springs', 'sapporo', 'sede_boqer',
       'selegua_mexico_solarimetric_station', 'sioux_falls', 'sonnblick',
       'southern_great_plains', 'south_pole', 'syowa', 'tamanrasset',
       'tateno', 'tiksi', 'toravere', 'bdfe2_feni',
       'ceb_substation_dapaong_togo', 'ceb_substation_davie_togo',
       'ceb_substation_malanville_benin', 'ceb_substation_parakou_benin',
       'ci_energies_substation_korhogo_côte_d_ivoire',
       'ci_energies_substation_sérébou_côte_d_ivoire',
       'edg_substation_kankan_guinea',
       'edm_sa_substation_in_bougouni_mali',
       'edm_sa_substation_in_fana_mali', 'edm_sa_substation_sikasso_mali',
       'gridco_substation_navrongo_ghana', 'hrazdan',
       'lbama_lari_tal_amara', 'lbras_ras_baalbak', 'masrik',
       'meteorological_institut_bissau_guinea_bissau',
       'meteorological_institut_gabu_guinea_bissau',
       'mount_coffee_hydro_power_plant_liberia', 'mv_solar_gan_gan',
       'mv_solar_hanimaadhoo_haq', 'mv_solar_kadhdhoo_kdo',
       'mv_solar_male_mle', 'mw_solar_chileka_dccms',
       'mw_solar_kasungu_dccms', 'mw_solar_mzuzu_umz',
       'nawec_power_station_farafenni_the_gambia',
       'nigelec_substation_lossa_niger',
       'nigelec_substation_maradi_niger', 'np_solar_dharan_ioe',
       'np_solar_jumla_hotelkanjirowa', 'np_solar_kathmandu_ioe',
       'np_solar_lumle_dhm', 'np_solar_nepalgunj_narc',
       'open_field_zabori_niger', 'pk_solar_hyderabad_muet',
       'pk_solar_islamabad_nust', 'pk_solar_karachi_neduet',
       'pk_solar_khuzdar_buet', 'pk_solar_lahore_uet',
       'pk_solar_multan_msnuet', 'pk_solar_peshawar_uet',
       'pk_solar_quetta_buitems', 'sanankoroba_mali',
       'senelec_substation_ourossogui_senegal',
       'senelec_substation_tambacounda_senegal', 'sn_solar_fatick_ifc',
       'sn_solar_kahone_ifc', 'sn_solar_touba_ifc',
       'sogem_substation_manatali_mali', 'solar_dar_es_salaam_world_bank',
       'solar_dodoma_world_bank', 'solar_homa_bay_world_bank',
       'solar_laisamis_world_bank', 'solar_makunduchi_world_bank',
       'solar_narok_world_bank', 'solar_shinyanga_world_bank',
       'solar_soroti_world_bank', 'solar_wadelai_world_bank',
       'sonabel_substation_dori_burkina_faso',
       'sonabel_substation_dédougou_burkina_faso',
       'sonabel_substation_kaya_burkina_faso',
       'sonabel_substation_koupéla_burkina_faso', 'talin',
       'tarambaly_guinea', 'tcn_substation_bauchi_nigeria',
       'tcn_substation_kano_nigeria',
       'transco_clsg_substation_buchanan_liberia',
       'transco_clsg_substation_bumbuna_sierra_leone',
       'transco_clsg_substation_kenema_sierra_leone',
       'transco_clsg_substation_yekepa_liberia',
       'university_of_fiapre_sunyani_ghana', 'vnceh_central_highlands',
       'vndan_da_nang', 'vnhan_hanoi', 'vnsob_song_binh', 'vntra_tri_an',
       'yerevanagro', 'zm_solar_chilanga_zari', 'zm_solar_choma_zari',
       'zm_solar_fig_tree_ifc', 'zm_solar_kaoma_zari',
       'zm_solar_kasama_zari', 'zm_solar_lusaka_unza',
       'zm_solar_mumbwa_ifc', 'zm_solar_mutanda_zari',
       'zm_solar_ndeke_ifc', 'mene_unnamed_station_1',
       'mene_unnamed_station_10', 'mene_unnamed_station_11',
       'mene_unnamed_station_12', 'mene_unnamed_station_13',
       'mene_unnamed_station_14', 'mene_unnamed_station_15',
       'mene_unnamed_station_2', 'mene_unnamed_station_3',
       'mene_unnamed_station_4', 'mene_unnamed_station_5',
       'mene_unnamed_station_6', 'mene_unnamed_station_7',
       'mene_unnamed_station_8', 'mene_unnamed_station_9',
       'arm_amf3_oliktok', 'arm_nsa_barrow', 'atqasuk',
       'barrow_bes_biocomplexityexperiment_south_tower',
       'barrow_environmentalobservatory_beo_tower', 'bibai_bog',
       'bonanza_creek_black_spruce', 'bonanza_creek_rich_fen',
       'bonanza_creek_thermokarst_bog', 'borgo_cioffi',
       'bouldin_island_alfalfa', 'bouldin_island_corn', 'castellaro',
       'chamau', 'cheorwon_rice_paddy', 'cherski', 'chersky_reference',
       'chokurdakh', 'curtice_walter−bergercropland', 'dagowsee', 'davos',
       'degero', 'disney_wilderness_preserve_wetland',
       'east_pond_wetland', 'eden_landing_ecologicalreserve',
       'eight_mile_lake_permafrostthaw_gradient_healy_alaska',
       'fyodorovskoye_dry_spruce', 'guma', 'hongyuan', 'horstermeer',
       'howland_forest_main_tower', 'huetelmoor',
       'humnoke_farm_rice_field_–_field_c',
       'humnoke_farm_rice_field–_field_a', 'hyytiala',
       'imnavait_creek_watershed_wet_sedge_tundra', 'ivotuk', 'kopuatai',
       'la_guette', 'lompolojankka', 'lost_creek',
       'macarthur_agro_ecology', 'mai_po_mangrove',
       'maludam_national_park', 'mase_rice_paddy_field',
       'mayberry_wetland', 'nc_alligatorriver', 'neustift',
       'ngee_arctic_barrow', 'ngee_arctic_council',
       'northern_pantanal_wetland', 'nxaraga', 'oensingen_crop',
       'old_woman_creek', 'olentangy_river_wetland_research_park',
       'palangkaraya_undrained_forest', 'park_falls_wlef',
       'philippines_rice_instituteflooded',
       'pointe_aux_chenes_brackishmarsh', 'salvador_wma_freshwatermarsh',
       'schechenfilz_nord', 'scotty_creek_bog', 'scotty_creek_landscape',
       'sherman_island', 'siikaneva', 'st_jones_reserve',
       'suisun_marsh_−_rush_ranch', 'suwa_lake', 'twitchell_alfalfa',
       'twitchell_east_end_wetland', 'twitchell_island',
       'twitchell_wetland_west_pond', 'university_of_alaska_fairbanks',
       'winous_point_north_marsh', 'zarnekow',
       'central_university_of_technology', 'crses_mintek',
       'csir_energy_centre', 'eskom_sutherland', 'giz_graaff_reinet',
       'giz_murraysburg', 'giz_richtersveld',
       'giz_university_of_free_state', 'giz_university_of_pretoria',
       'giz_vanrhynsdorp', 'ilanga_csp_plant',
       'mangosuthu_university_of_technology', 'nelson_mandela_university',
       'stellenbosch_university',
       'university_of_kwazulu_natal_howard_college',
       'university_of_kwazulu_natal_pietermaritzburg',
       'university_of_kwazulu_natal_westville', 'university_of_zululand',
       'usaid_gaborone',
       'usaid_namibian_university_of_science_and_technology',
       'usaid_university_of_fort_hare', 'usaid_venda',
       'albuquerque_new_mexico', 'bismarck_north_dakota',
       'hanford_california', 'madison_wisconsin', 'oak_ridge_tennessee',
       'salt_lake_city_utah', 'seattle_washington', 'sterling_virginia',
       'bluefield_state_college', 'cal_poly_humboldt_sorms',
       'elizabeth_city_state_university', 'lowry_range_solar_station_rsr',
       'natural_energy_laboratory_of_hawaii_authority_nelha',
       'nevada_power_clark_station',
       'nrel_energy_systems_integration_facility',
       'nrel_flatirons_campus_m2',
       'nrel_solar_radiation_research_laboratory',
       'oak_ridge_national_laboratory_rsr',
       'sacramento_municipal_utility_district_anatolia',
       'solar_technology_acceleration_center_solartac',
       'solrmap_kalaeloa_oahu_rsr', 'solrmap_la_ola_lanai_rsr',
       'solrmap_loyola_marymount_university_rsr',
       'solrmap_southwest_solar_research_park',
       'solrmap_sun_spot_two_swink_rsr',
       'solrmap_university_of_arizona_oasis',
       'solrmap_utah_geological_survey_state_energy_program_cedar_city',
       'solrmap_utah_geological_survey_state_energy_program_milford',
       'south_park_mountain_data', 'sun_spot_one_san_luis_valley_rsr',
       'university_of_florida', 'university_of_louisiana_at_lafayette',
       'university_of_nevada_las_vegas',
       'university_of_texas_rio_grande_valley_solar_radiation_lab',
       'us_virgin_islands_bovoni_2', 'us_virgin_islands_longford',
       'bondville_illinois', 'desert_rock_nevada', 'fort_peck_montana',
       'goodwin_creek_mississippi', 'penn_state_pennsylvania',
       'sioux_falls_south_dakota'], dtype=object)

In [6]:
site_name = ["bdfe2_feni"]

In [7]:
site_id = db.get_sites(names=site_name).site_ids[0]
site_id

'energydata_1'

In [8]:
site = sites_inv.get_site(site_id)
site

Site(name='bdfe2_feni')

## measurement data

In [9]:
ts = db.get_measurement_timeseries(
    site=site,
    validation_variables=["ghi"],
)

In [10]:
ts.dict()

{'timeseries_variables': [{'variable': {'name': 'ghi',
    'physical_parameter_id': 'ghi',
    'units': <Unit('watt / meter ** 2')>,
    'height': None,
    'time_granularity': Timedelta('0 days 00:01:00'),
    'start': Timestamp('2017-06-08 00:01:00'),
    'end': Timestamp('2019-09-30 23:59:00'),
    'temporal_aggregation_method': <TemporalAggregationMethod.MEAN: 'mean'>,
    'temporal_aggregation_period': Timedelta('0 days 00:01:00'),
    'temporal_aggregation_timestamp_convention': <TemporalAggregationTimestampConvention.UNDEFINED: 'undefined'>,
    'data_availability_percent': None},
   'data': time
   2017-06-08 00:01:00+00:00    69.84400
   2017-06-08 00:02:00+00:00    70.85630
   2017-06-08 00:03:00+00:00    72.73920
   2017-06-08 00:04:00+00:00    74.79130
   2017-06-08 00:05:00+00:00    77.35400
                                  ...
   2019-09-30 23:55:00+00:00     1.36950
   2019-09-30 23:56:00+00:00     1.78500
   2019-09-30 23:57:00+00:00     1.98333
   2019-09-30 23:58:00+00:00     2.27900
   2019-09-30 23:59:00+00:00     2.35600
   Length: 1216799, dtype: float64}]}

In [11]:
ts.to_dataframe()

                           ghi_mean_1min_undefined
time
2017-06-08 00:01:00+00:00                 69.84400
2017-06-08 00:02:00+00:00                 70.85630
2017-06-08 00:03:00+00:00                 72.73920
2017-06-08 00:04:00+00:00                 74.79130
2017-06-08 00:05:00+00:00                 77.35400
...                                            ...
2019-09-30 23:55:00+00:00                  1.36950
2019-09-30 23:56:00+00:00                  1.78500
2019-09-30 23:57:00+00:00                  1.98333
2019-09-30 23:58:00+00:00                  2.27900
2019-09-30 23:59:00+00:00                  2.35600

[1216799 rows x 1 columns]

## simulation data

In [12]:
ts_sim = db.get_simulation_timeseries(
    site=site,
    validation_variables=["ghirrn"],
    model="solar-resource-api-1.6.12",
)

In [13]:
ts_sim

TimeseriesDataset(variables=[Variable(name=ghirrn)])

In [14]:
ts_sim.timeseries_variables[0].variable.start

Timestamp('2019-09-01 00:15:00')

In [15]:
ts_sim.to_dataframe()

                           ghirrn_accumulated_15min_forward
time
2019-09-01 00:15:00+00:00                              3.52
2019-09-01 00:30:00+00:00                              5.01
2019-09-01 00:45:00+00:00                              7.04
2019-09-01 01:00:00+00:00                             27.15
2019-09-01 01:15:00+00:00                             42.05
...                                                     ...
2024-04-11 07:15:00+00:00                            207.42
2024-04-11 07:30:00+00:00                            196.28
2024-04-11 07:45:00+00:00                            185.69
2024-04-11 08:00:00+00:00                            175.94
2024-04-11 08:15:00+00:00                            169.80

[161697 rows x 1 columns]

In [16]:
ts_sim.variables[0]

Variable(name=ghirrn)

In [17]:
ts_sim.variables[0].as_dict

{'name': 'ghirrn',
 'physical_parameter_id': 'ghirrn',
 'units': 'Wh/m²',
 'height': None,
 'time_granularity': '15min',
 'start': '2019-09-01 00:15:00',
 'end': '2024-04-11 08:15:00',
 'temporal_aggregation_method': 'accumulated',
 'temporal_aggregation_period': '15min',
 'temporal_aggregation_timestamp_convention': 'forward',
 'data_availability_percent': None}

In [18]:
site_name = ["ceb_substation_davie_togo"]

In [19]:
site_id = db.get_sites(names=site_name).site_ids[0]
site_id

'energydata_3'

In [20]:
site = sites_inv.get_site(site_id)
site

Site(name='ceb_substation_davie_togo')

## measurement data

In [21]:
ts = db.get_measurement_timeseries(
    site=site,
    validation_variables=["ghi"],
)

In [22]:
ts.dict()

{'timeseries_variables': [{'variable': {'name': 'ghi',
    'physical_parameter_id': 'ghi',
    'units': <Unit('watt / meter ** 2')>,
    'height': None,
    'time_granularity': Timedelta('0 days 00:01:00'),
    'start': Timestamp('2021-11-03 05:37:00'),
    'end': Timestamp('2022-11-02 21:42:00'),
    'temporal_aggregation_method': <TemporalAggregationMethod.MEAN: 'mean'>,
    'temporal_aggregation_period': Timedelta('0 days 00:01:00'),
    'temporal_aggregation_timestamp_convention': <TemporalAggregationTimestampConvention.UNDEFINED: 'undefined'>,
    'data_availability_percent': None},
   'data': time
   2021-11-03 05:37:00+00:00    0.1
   2021-11-03 05:38:00+00:00    0.5
   2021-11-03 05:39:00+00:00    0.9
   2021-11-03 05:40:00+00:00    1.3
   2021-11-03 05:41:00+00:00    1.7
                               ...
   2022-11-02 21:38:00+00:00    NaN
   2022-11-02 21:39:00+00:00    NaN
   2022-11-02 21:40:00+00:00    NaN
   2022-11-02 21:41:00+00:00    NaN
   2022-11-02 21:42:00+00:00    NaN
   Length: 525126, dtype: float64}]}

In [23]:
ts.to_dataframe()

                           ghi_mean_1min_undefined
time
2021-11-03 05:37:00+00:00                      0.1
2021-11-03 05:38:00+00:00                      0.5
2021-11-03 05:39:00+00:00                      0.9
2021-11-03 05:40:00+00:00                      1.3
2021-11-03 05:41:00+00:00                      1.7
...                                            ...
2022-11-02 21:38:00+00:00                      NaN
2022-11-02 21:39:00+00:00                      NaN
2022-11-02 21:40:00+00:00                      NaN
2022-11-02 21:41:00+00:00                      NaN
2022-11-02 21:42:00+00:00                      NaN

[525126 rows x 1 columns]

## simulation data

In [24]:
ts_sim = db.get_simulation_timeseries(
    site=site,
    validation_variables=["ghirrn"],
    model="solar-resource-api-1.6.12",
)

In [25]:
ts_sim

TimeseriesDataset(variables=[Variable(name=ghirrn)])

In [26]:
ts_sim.timeseries_variables[0].variable.start

Timestamp('2004-02-01 00:15:00')

In [27]:
ts_sim.to_dataframe()

                           ghirrn_accumulated_15min_forward
time
2004-02-01 00:15:00+00:00                              0.00
2004-02-01 00:30:00+00:00                              0.00
2004-02-01 00:45:00+00:00                              0.00
2004-02-01 01:00:00+00:00                              0.00
2004-02-01 01:15:00+00:00                              0.00
...                                                     ...
2024-04-11 07:15:00+00:00                             35.96
2024-04-11 07:30:00+00:00                             49.43
2024-04-11 07:45:00+00:00                             50.47
2024-04-11 08:00:00+00:00                             49.24
2024-04-11 08:15:00+00:00                             52.83

[708033 rows x 1 columns]

In [28]:
ts_sim.variables[0]

Variable(name=ghirrn)

In [29]:
ts_sim.variables[0].as_dict

{'name': 'ghirrn',
 'physical_parameter_id': 'ghirrn',
 'units': 'Wh/m²',
 'height': None,
 'time_granularity': '15min',
 'start': '2004-02-01 00:15:00',
 'end': '2024-04-11 08:15:00',
 'temporal_aggregation_method': 'accumulated',
 'temporal_aggregation_period': '15min',
 'temporal_aggregation_timestamp_convention': 'forward',
 'data_availability_percent': None}

In [30]:
site_name = ["hrazdan"]

In [31]:
site_id = db.get_sites(names=site_name).site_ids[0]
site_id

'energydata_13'

In [32]:
site = sites_inv.get_site(site_id)
site

Site(name='hrazdan')

## measurement data

In [33]:
ts = db.get_measurement_timeseries(
    site=site,
    validation_variables=["ghi"],
)

In [34]:
ts.dict()

{'timeseries_variables': [{'variable': {'name': 'ghi',
    'physical_parameter_id': 'ghi',
    'units': <Unit('watt / meter ** 2')>,
    'height': None,
    'time_granularity': Timedelta('0 days 00:10:00'),
    'start': Timestamp('2016-05-19 21:05:00'),
    'end': Timestamp('2017-06-04 16:15:00'),
    'temporal_aggregation_method': <TemporalAggregationMethod.MEAN: 'mean'>,
    'temporal_aggregation_period': Timedelta('0 days 00:10:00'),
    'temporal_aggregation_timestamp_convention': <TemporalAggregationTimestampConvention.UNDEFINED: 'undefined'>,
    'data_availability_percent': None},
   'data': time
   2016-05-19 21:05:00+00:00      0.00
   2016-05-19 21:15:00+00:00       NaN
   2016-05-19 21:25:00+00:00       NaN
   2016-05-19 21:35:00+00:00       NaN
   2016-05-19 21:45:00+00:00       NaN
                                 ...
   2017-06-04 15:35:00+00:00    109.07
   2017-06-04 15:45:00+00:00     77.40
   2017-06-04 15:55:00+00:00     53.48
   2017-06-04 16:05:00+00:00     36.79
   2017-06-04 16:15:00+00:00     20.34
   Length: 54836, dtype: float64}]}

In [35]:
ts.to_dataframe()

                           ghi_mean_10min_undefined
time
2016-05-19 21:05:00+00:00                      0.00
2016-05-19 21:15:00+00:00                       NaN
2016-05-19 21:25:00+00:00                       NaN
2016-05-19 21:35:00+00:00                       NaN
2016-05-19 21:45:00+00:00                       NaN
...                                             ...
2017-06-04 15:35:00+00:00                    109.07
2017-06-04 15:45:00+00:00                     77.40
2017-06-04 15:55:00+00:00                     53.48
2017-06-04 16:05:00+00:00                     36.79
2017-06-04 16:15:00+00:00                     20.34

[54836 rows x 1 columns]

## simulation data

In [36]:
ts_sim = db.get_simulation_timeseries(
    site=site,
    validation_variables=["ghirrn"],
    model="solar-resource-api-1.6.12",
)

In [37]:
ts_sim

TimeseriesDataset(variables=[Variable(name=ghirrn)])

In [38]:
ts_sim.timeseries_variables[0].variable.start

Timestamp('2004-02-01 00:15:00')

In [39]:
ts_sim.to_dataframe()

                           ghirrn_accumulated_15min_forward
time
2004-02-01 00:15:00+00:00                              0.00
2004-02-01 00:30:00+00:00                              0.00
2004-02-01 00:45:00+00:00                              0.00
2004-02-01 01:00:00+00:00                              0.00
2004-02-01 01:15:00+00:00                              0.00
...                                                     ...
2024-04-11 07:30:00+00:00                            100.56
2024-04-11 07:45:00+00:00                             95.60
2024-04-11 08:00:00+00:00                             66.32
2024-04-11 08:15:00+00:00                             49.30
2024-04-11 08:30:00+00:00                             48.27

[708034 rows x 1 columns]

In [40]:
ts_sim.variables[0]

Variable(name=ghirrn)

In [41]:
ts_sim.variables[0].as_dict

{'name': 'ghirrn',
 'physical_parameter_id': 'ghirrn',
 'units': 'Wh/m²',
 'height': None,
 'time_granularity': '15min',
 'start': '2004-02-01 00:15:00',
 'end': '2024-04-11 08:30:00',
 'temporal_aggregation_method': 'accumulated',
 'temporal_aggregation_period': '15min',
 'temporal_aggregation_timestamp_convention': 'forward',
 'data_availability_percent': None}